<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMusService"/>
        <binding name="BasicHttpBinding_IMusService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/MusService/MusService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMusService" contract="ServiceMusReference.IMusService" name="BasicHttpBinding_IMusService"/>
    </client>
  </system.serviceModel>
</configuration>
